html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  font-family: 'Manrope', sans-serif;
  background-color: #ffffff;
}
.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}
.container {
  max-width: 1180px;
  padding: 0 15px;
  margin: 0 auto;
}
