/* header-start */
.header {
  padding: 33px 0 68px 0;
  color: #121212;
}
.header__content {
  display: flex;
  justify-content: space-between;
}
.header__nav-list {
  display: flex;
  padding-top: 3px;
}
.header__nav-item:not(:last-child) {
  margin-right: 61px;
}
.header__nav-item {
  font-size: 18px;
  letter-spacing: -0.54px;
  text-transform: uppercase;
}
.header__nav-item:hover {
  border-bottom: 1px solid #2d2d2d;
  opacity: 0.5;
}
.header__nav-link {
  padding: 20px 0;
}
/* header-end */

/* hero-start */
.hero {
  margin-bottom: 152px;
}
.hero__title {
  margin: 0px 0px 29px 1px;
  max-width: 956px;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -1.8px;
  color: #121212;
}
.hero__background {
  display: flex;
  align-items: end;
  max-width: 100%;
  height: 500px;
  background-image: url(../image/background-first-screen.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.hero__text-presentation {
  max-width: 465px;
  padding: 0px 0px 40px 41px;
  font-size: 20px;
  line-height: normal;
  letter-spacing: -0.6px;
  color: #ffffff;
}
/* hero-end */

/* about-start */
.about {
  margin-bottom: 172px;
  color: #121212;
}
.about__title {
  margin-bottom: 34px;
  font-size: 18px;
  letter-spacing: -0.54px;
  text-transform: uppercase;
}
.about__text-description {
  margin-bottom: 51px;
  padding-left: 4px;
  max-width: 1048px;
  font-size: 45px;
  line-height: 61px;
  letter-spacing: -1.35px;
}
.about__button {
  padding: 20px 41px;
  font-size: 20px;
  letter-spacing: -0.6px;
  border-radius: 5px;
  background-color: #ad1818;
  color: #ffffff;
}
/* about-end */

/* projects-start */
.projects {
  margin-bottom: 150px;
  color: #121212;
}
.projects__title {
  margin-bottom: 32px;
  font-size: 18px;
  letter-spacing: -0.54px;
  text-transform: uppercase;
}
.projects__item {
  margin-bottom: 90px;
}
.item-project__image {
  margin-bottom: 20px;
}
.item-project__title {
  margin-bottom: 28px;
  font-size: 30px;
  letter-spacing: -0.9px;
}
.item-project__more {
  font-size: 20px;
  letter-spacing: -0.6px;
  color:#AD1818;
}
.projects__button {
  display: inline-block;
  padding: 65px 0;
  width: 100%;
  border: 1px solid #AD1818;
  border-radius: 5px;
  text-align: center;
  font-size: 30px;
  letter-spacing: -0.9px;
  transition-duration: 0.2s;
  color: #AD1818;
}
.projects__button:hover {
  background-color:#AD1818;
  color: #ffffff;
}
/* projects-end */

/* services-start */
.services {
  padding: 152px 0 157px 0;
  background-color: #121212;
  color: #ffffff;
}
.services__title {
  margin-bottom: 35px;
  padding-left: 2px;
  font-size: 18px;
  letter-spacing: -0.54px;
  text-transform: uppercase;
}
.services__image {
  margin-bottom: 20px;
}
.services__name {
  padding-left: 5px;
  font-size: 30px;
  letter-spacing: -0.9px;
}
.services__item {
  margin-bottom: 70px;
}
.services__item:last-child {
  margin: 0;
}
/* services-end */

/* project-start */
.project {
  position: relative;
  height: 717px;
  background-image: url(../image/background-section-project.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: #ffffff;
}
.project__title {
  position: absolute;
  top: 575px;
  left: 125px;
  width: 443px;
  font-size: 30px;
  line-height: normal;
  letter-spacing: -0.9px;
}
/* project-end */

/* contacts-start */
.contacts {
  margin-bottom: 160px;
  padding-top: 187px;
  position: relative;
}
.contacts::before {
  content: "";
  display: block;
  position: absolute;
  top: 147px;
  left: 117px;
  background-image: url(../image/phone-icon.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 30px;
  height: 30px;
}
.contacts__phone-icon {
  margin: 150px 0 10px 0;
}
.contacts__text {
  margin-bottom: 34px;
  font-size: 18px;
  letter-spacing: -0.54px;
  text-transform: uppercase;
}
.contacts__phone {
  display: block;
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 400;
  letter-spacing: -1px;
}
.contacts__mail {
  border-bottom: 2px solid #121212;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -1.8px;
  opacity: 0.5;
}
/* contacts-end */

/* footer-start */
.footer {
  padding-bottom: 30px;
  background-color: #121212;
  color: #ffffff;
}
.footer__nav-bar {
  margin-bottom: 93px;
  padding-top: 60px;
}
.footer__nav-list {
  display: flex;
  justify-content: center;
}
.footer__nav-item {
  margin-right: 53px;
  font-size: 18px;
  letter-spacing: -0.54px;
  text-transform: uppercase;
}
.footer__nav-item:hover {
  opacity: 0.5;
}
.footer__nav-item:last-child {
  margin-right: 0;
}
.footer__nav-link {
  padding: 15px 0;
}
.footer__text {
  padding-left: 6px;
  text-align: center;
  font-size: 20px;
  letter-spacing: -0.6px;
  opacity: 0.5;
}
/* footer-end */